# Node modules
node_modules

# Environment files
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*

# IDE files
.vscode/
.DS_Store

# Build / cache
dist/
.cache/
.parcel-cache/

.package.json
.package-lock.jsonnode_modules/
package-lock.json
